<!DOCTYPE html>
<html>
<body>

<form action="{% url 'analyse:index'%}" method="post">
  {% csrf_token %}
  <input type="radio" name="Maincategory" value="maincate1"> Patient traffic<br>
  <input type="radio" name="Maincategory" value="maincate2"> Hour of day<br>
  <input type="radio" name="Maincategory" value="maincate3"> Average time<br>
  <input type="radio" name="Maincategory" value="maincate4"> Cases frequency<br>
  <input type="radio" name="subcategory1" value="All"> All<br>
  <input type="radio" name="subcategory1" value="Ajmer"> Ajmer<br>
  <input type="radio" name="subcategory1" value="Alwar"> Alwar<br>
  <input type="radio" name="subcategory2" value="All"> All<br>
  <input type="radio" name="subcategory2" value="subcate22"> subcate22<br>
  <input type="radio" name="subcategory2" value="subcate23"> subcate23<br>
  <input type="radio" name="subcategory3" value="Public"> Public<br>
  <input type="radio" name="subcategory3" value="Private"> Private<br>
  <input type="submit" value="Submit">
</form>
{% if plots %}
    <ul>
    {% for plot in plots %}
        <li>{{ plot }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No plots are available.</p>
{% endif %}

{% if fig %}
    <div>
    {{fig}}
    </div>
{% endif %}

</body>
</html>
